/* Rectangle 7 */

position: absolute;
width: 1440px;
height: 400px;
left: 0px;
top: 125px;

background: linear-gradient(95.07deg, #FBFF8C 5.98%, #39B074 48.93%, #377B9C 94.02%);


/* Screenshot_2.original 1 */

position: absolute;
width: 720px;
height: 763px;
left: 0px;
top: 1757px;

background: url(Screenshot_2.original.png);


/* Rectangle 2 */

position: absolute;
width: 760px;
height: 251px;
left: 340px;
top: 185px;

background: linear-gradient(95.8deg, #FFF371 0.31%, #6A6527 99.69%);
border-radius: 30px;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 125px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Rectangle 4 */

position: absolute;
width: 230px;
height: 55px;
left: 360px;
top: 313px;

background: #FFFFFF;
border-radius: 10px;


/* Rectangle 5 */

position: absolute;
width: 230px;
height: 55px;
left: 853px;
top: 313px;

background: #FFFFFF;
border-radius: 10px;


/* Rectangle 6 */

position: absolute;
width: 230px;
height: 55px;
left: 607px;
top: 313px;

background: #FFFFFF;
border-radius: 10px;


/* Первый урок - 1000р. */

position: absolute;
width: 303px;
height: 39px;
left: 375px;
top: 215px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* БЕСПЛАТНО! */

position: absolute;
width: 232px;
height: 44px;
left: 639px;
top: 190px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #000000;



/* Line 1 */

position: absolute;
width: 56.29px;
height: 0px;
left: 616px;
top: 246px;

border: 1px solid #000000;
transform: rotate(-12.31deg);


/* Запишитесь на пробник, просто попробовать: */

position: absolute;
width: 725px;
height: 39px;
left: 358px;
top: 261px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;



/* Наши контакты */

position: absolute;
width: 251px;
height: 38px;
left: 1149px;
top: 46px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Отзывы */

position: absolute;
width: 125px;
height: 38px;
left: 956px;
top: 46px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Преподаватели */

position: absolute;
width: 251px;
height: 38px;
left: 636px;
top: 46px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Тел.: */

position: absolute;
width: 63px;
height: 24px;
left: 608px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Ваше имя: */

position: absolute;
width: 119px;
height: 24px;
left: 855px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* E-mail: */

position: absolute;
width: 82px;
height: 24px;
left: 360px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* 756171993555277 1 */

position: absolute;
width: 1440px;
height: 879px;
left: 0px;
top: 702px;

background: url(756171993555277.jpg);
opacity: 0.5;


/* Rectangle 17 */

position: absolute;
width: 720px;
height: 763px;
left: 720px;
top: 1757px;

background: #444444;


/* Почему наша школа лучшая? */

position: absolute;
width: 1440px;
height: 116px;
left: 0px;
top: 755px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #FFFFFF;

border: 5px solid #000000;


/* Rectangle 8 */

position: absolute;
width: 1440px;
height: 256px;
left: 0px;
top: 1325px;

background: #D9D9D9;
opacity: 0.7;


/* Мы, МосХаб, обучаем уже более семи лет, имеем более 24 000 выпускников и самое актуальное обучение в стране! */

position: absolute;
width: 1440px;
height: 254px;
left: 0px;
top: 1327px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

border: 1px solid #000000;


/* Rectangle 19 */

position: absolute;
width: 1440px;
height: 454px;
left: 0px;
top: 2696px;

background: #FFFFFF;


/* В нашей компании более 50-ти преподавателей! */

position: absolute;
width: 720px;
height: 260px;
left: 720px;
top: 1801px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Rectangle 10 */

position: absolute;
width: 549px;
height: 81px;
left: 805px;
top: 2265px;

background: #61B867;
border-radius: 100px;


/* Подробнее о преподавателях */

position: absolute;
width: 549px;
height: 81px;
left: 805px;
top: 2265px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Rectangle 11 */

position: absolute;
width: 480px;
height: 535px;
left: 0px;
top: 3329px;

background: #F0DE79;


/* Rectangle 12 */

position: absolute;
width: 480px;
height: 535px;
left: 480px;
top: 3329px;

background: #5291C6;


/* Rectangle 13 */

position: absolute;
width: 480px;
height: 535px;
left: 960px;
top: 3329px;

background: linear-gradient(137.33deg, #AAAAAA 0.47%, #6B6B6B 63.2%);


/* blog_promo-1dd16bc28d9a4aed4b07019a7934d27c258d6cf8ca53f803634fc38d1d406c57 1 */

position: absolute;
width: 480px;
height: 535px;
left: 0px;
top: 3329px;

background: url(blog_promo-1dd16bc28d9a4aed4b07019a7934d27c258d6cf8ca53f803634fc38d1d406c57.png);


/* 5 1 */

position: absolute;
width: 480px;
height: 535px;
left: 480px;
top: 3329px;

background: url(5.jpg);


/* prog 1 */

position: absolute;
width: 480px;
height: 535px;
left: 960px;
top: 3329px;

background: url(prog.jpg);


/* Базовый уровень */

position: absolute;
width: 480px;
height: 204px;
left: 0px;
top: 3326px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Углублённый уровень */

position: absolute;
width: 480px;
height: 204px;
left: 480px;
top: 3326px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Продвинутый уровень */

position: absolute;
width: 480px;
height: 204px;
left: 960px;
top: 3326px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Rectangle 14 */

position: absolute;
width: 380px;
height: 119px;
left: 50px;
top: 3720px;

background: #DAFF07;
border-radius: 35px;


/* Rectangle 15 */

position: absolute;
width: 380px;
height: 119px;
left: 530px;
top: 3720px;

background: #07EEFF;
border-radius: 35px;


/* Rectangle 16 */

position: absolute;
width: 380px;
height: 119px;
left: 1010px;
top: 3720px;

background: #4F2089;
border-radius: 35px;


/* Подробнее */

position: absolute;
width: 380px;
height: 119px;
left: 50px;
top: 3720px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Подробнее */

position: absolute;
width: 380px;
height: 119px;
left: 530px;
top: 3720px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Подробнее */

position: absolute;
width: 380px;
height: 119px;
left: 1010px;
top: 3720px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* И все имеют опыт работы с детьми */

position: absolute;
width: 273px;
height: 87px;
left: 1167px;
top: 2070px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 2205-full */

position: absolute;
width: 401px;
height: 454px;
left: 626px;
top: 2696px;

background: url(2205-full.jpg);


/* Без имени344 1 */

position: absolute;
width: 604px;
height: 122px;
left: 0px;
top: 0px;

background: url(Без имени344.png);


/* Rectangle 18 */

position: absolute;
width: 169px;
height: 50px;
left: 884px;
top: 375px;

background: #4F4F4F;
border-radius: 15px;


/* 1000_F_146700527_GCqwwPTxd07XnZuXKUJWtV6L6PJLHgcO */

position: absolute;
width: 414px;
height: 306px;
left: 1026px;
top: 2696px;

background: url(1000_F_146700527_GCqwwPTxd07XnZuXKUJWtV6L6PJLHgcO.jpg);


/* Rectangle 21 */

position: absolute;
width: 400px;
height: 454px;
left: 626px;
top: 2696px;

background: #000000;
opacity: 0.5;


/* Rectangle 23 */

position: absolute;
width: 413px;
height: 148px;
left: 1027px;
top: 3002px;

background: radial-gradient(50.12% 106.69% at 49.88% 49.64%, #2B2B2B 83.86%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
opacity: 0.65;


/* Rectangle 22 */

position: absolute;
width: 413px;
height: 306px;
left: 1027px;
top: 2696px;

background: #000000;
opacity: 0.5;


/* Отправить */

position: absolute;
width: 169px;
height: 50px;
left: 884px;
top: 375px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* МосХаб имеет сотни отзывов от реальных учеников и родителей, можете почитать сами! */

position: absolute;
width: 626px;
height: 454px;
left: 0px;
top: 2696px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;

color: #007B4A;



/* Rectangle 20 */

position: absolute;
width: 380px;
height: 119px;
left: 1041px;
top: 3014px;

background: #32D09E;
border-radius: 35px;


/* Все отзывы */

position: absolute;
width: 380px;
height: 119px;
left: 1041px;
top: 3014px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Омг, я правда очень рад что начал обучаться в этой школе! Не верю, что она сама меня нашла) Обучался три года, подтянул информатику заодно)  Крюков Я.Р. */

position: absolute;
width: 401px;
height: 454px;
left: 626px;
top: 2696px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Не зря отдал свою дочь на программирование, в свои 17 лет после курсов она уже берёт некоторые заказы на фрилансе) Ахтаров Т.В. */

position: absolute;
width: 414px;
height: 306px;
left: 1026px;
top: 2696px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Rectangle 29 */

position: absolute;
width: 1440px;
height: 605px;
left: 0px;
top: 4040px;

background: conic-gradient(from 0deg at 50% 50%, #DEFF4B -90.38deg, #19429B 89.99deg, #DEFF4B 269.62deg, #19429B 449.99deg);


/* Rectangle 24 */

position: absolute;
width: 760px;
height: 272px;
left: 319px;
top: 4207px;

background: linear-gradient(95.85deg, #083C61 0.28%, #767035 99.72%);
border-radius: 30px;


/* Rectangle 25 */

position: absolute;
width: 230px;
height: 59px;
left: 337px;
top: 4343px;

background: #474747;
border-radius: 10px;


/* Rectangle 26 */

position: absolute;
width: 230px;
height: 59px;
left: 831px;
top: 4342px;

background: #474747;
border-radius: 10px;


/* Rectangle 27 */

position: absolute;
width: 230px;
height: 59px;
left: 584px;
top: 4342px;

background: #474747;
border-radius: 10px;


/* Первый урок - 1000р. */

position: absolute;
width: 303px;
height: 42px;
left: 354px;
top: 4240px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* БЕСПЛАТНО! */

position: absolute;
width: 232px;
height: 47px;
left: 618px;
top: 4213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;



/* Line 2 */

position: absolute;
width: 56.51px;
height: 0px;
left: 595px;
top: 4273.24px;

border: 1px solid #FFFFFF;
transform: matrix(0.97, -0.23, 0.2, 0.98, 0, 0);


/* Запишитесь на пробник, просто попробовать: */

position: absolute;
width: 725px;
height: 43px;
left: 337px;
top: 4289px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;



/* Тел.: */

position: absolute;
width: 63px;
height: 26px;
left: 584px;
top: 4359px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Ваше имя: */

position: absolute;
width: 119px;
height: 26px;
left: 827px;
top: 4359px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* E-mail: */

position: absolute;
width: 82px;
height: 26px;
left: 337px;
top: 4359px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 28 */

position: absolute;
width: 169px;
height: 54px;
left: 892px;
top: 4417px;

background: #CDCDCD;
border-radius: 15px;


/* Отправить */

position: absolute;
width: 169px;
height: 54px;
left: 892px;
top: 4417px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Rectangle 30 */

position: absolute;
width: 1440px;
height: 176px;
left: 0px;
top: 1581px;

background: linear-gradient(4.02deg, #444444 3.28%, #AFAFAF 96.72%);


/* Rectangle 33 */

position: absolute;
width: 1440px;
height: 176px;
left: 2px;
top: 525px;

background: linear-gradient(4.02deg, #6A6A6A 3.28%, #30A878 96.72%);


/* Rectangle 31 */

position: absolute;
width: 1440px;
height: 176px;
left: 0px;
top: 2520px;

background: linear-gradient(4.02deg, #FFFFFF 3.28%, #444444 96.72%);


/* Rectangle 32 */

position: absolute;
width: 1440px;
height: 176px;
left: 0px;
top: 3150px;

background: linear-gradient(4.02deg, #2E7CC6 3.28%, #FFFFFF 96.72%);


/* Rectangle 34 */

position: absolute;
width: 1440px;
height: 176px;
left: 2px;
top: 3864px;

background: linear-gradient(4.02deg, #789957 3.28%, #2E7CC6 96.72%);


/* Rectangle 35 */

position: absolute;
width: 1442px;
height: 110px;
left: 0px;
top: 4645px;

background: #3D3D3D;


/* image-Photoroom 1 */

position: absolute;
width: 121px;
height: 106px;
left: 2px;
top: 4645px;

background: url(image-Photoroom);


/* МосХаб */

position: absolute;
width: 372px;
height: 85px;
left: 120px;
top: 4657px;

font-family: 'Alegreya Sans SC';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 115px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Лучшее для детей */

position: absolute;
width: 363px;
height: 50px;
left: 609px;
top: 4675px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Rectangle 36 */

position: absolute;
width: 302px;
height: 76px;
left: 1088px;
top: 4662px;

background: #2977D0;
border-radius: 15px;


/* Контакты */

position: absolute;
width: 302px;
height: 76px;
left: 1088px;
top: 4662px;

font-family: 'Inder';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;

color: #E9E9E9;

